@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Path: style.css */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    
  
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

*::-webkit-scrollbar {
    display: none;
  }

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-between;
    min-height: 100svh;
}
main aside {
background-color: cadetblue;
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    min-width: 300px;
    min-height: 100vh;
    text-align: left;
  max-height: 100vh;
    background-color: cadetblue;
       

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

main article {
    flex-grow: 1;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }

  .hero .grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

    .hero .grid .card {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.4s;
    }

    .hero .grid .card:hover, .hero .grid .card.active {
        transform: perspective(1000px) rotateY(-30deg);
        background-color: cadetblue;
        color: white;
    }

    .hero .grid .card:hover:nth-child(2), .hero .grid .card:nth-child(2).active {
        transform: perspective(1000px) rotateY(30deg);
    }

    .hero .grid .card:hover:nth-child(4), .hero .grid .card:nth-child(4).active {
        transform: perspective(1000px) rotateY(30deg);
    }


 .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        padding: 0;
        margin: 0;
        color: cadetblue;
    }
 } 

    
.wordCarousel {
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    div {
        overflow: hidden;
        position: relative;
        height: 65px;
        ul{
            padding: 0;
        }
        li {
            font-weight: 700;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
}

.flip2 { animation: flip2 6s cubic-bezier(0, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0, 1, 0.32, 1.2) infinite; }
.flip5 { animation: flip5 12s cubic-bezier(0, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -180px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -360px; }
}

@keyframes flip5 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -450px; }
}

aside article {
    opacity: 0; 
    transition: opacity 0.4s ease; 
    display: none;
}


aside article.active {
    display: block;
    opacity: 1; 
    animation: fadeIn 1s ease-in-out;
}

aside article.right {
    text-align: right;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

