################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/day 22 - Teeny Tiny Assignment/RequestTrackerCFRelationsSLN/EmployeeTrackerDAL/IRepository.cs

bin
obj
**/.vs/
