.cb-c-floating_menu {
  position: absolute;
  min-width: 150px;
  z-index: 90;
  border-radius: 1rem;
  background-color: #fff;

  &.hidden {
    display: none;
  }

  &__option {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid #888888;
    cursor: pointer;
  }

  &__option:last-child {
    border-radius: 0 0 1rem 1rem;
  }

  &__option:first-child {
    border-radius: 1rem 1rem 0 0;
  }

  &__option:hover {
    background-color: #efefef;
  }
}
