.cb-c-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #efefef;
  padding: 2em 1em;
  box-shadow: 1px 1px 2px 0 rgb(128, 128, 128);
  width: 100%;
  gap: 1rem;
  max-width: 350px;

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  & input {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid rgb(128, 128, 128);
  }

  & button[type="submit"] {
    cursor: pointer;
    width: 100%;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    max-width: fit-content;
    margin: 0.5rem auto;
  }

  &__label {
    font-weight: 700;
  }

  &__error {
    color: red;
    font-size: 0.8rem;
  }
}
