@use "abstracts" as *;

.cb-c-icon_button {
  padding: 1rem;
  border: 1px solid #bababa;
  border-radius: 0.5rem;
  min-width: 45px;
  color: #bababa;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  @include respond(small) {
    padding: 0.5rem;
    font-size: 0.8rem;
    min-width: 35px;
  }
  &:hover {
    color: #000;
  }
}
