@use "abstracts" as *;

.cb-c-ride-card {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  min-width: min(500px, 90vw);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  &__cab {
    font-size: 1rem;
  }

  &__image {
    width: 150px;
    height: 150px;
    object-fit: cover;

    @include respond(small) {
      width: 100px;
      height: 100px;
    }
  }

  &__ride_details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.1rem;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    button,
    a {
      margin-top: 0.5rem;
      text-decoration: underline;
      outline: none;
      background-color: transparent;
      border: none;
    }
  }

  &__driver_actions {
    display: flex;
    flex-direction: column;
  }

  &__price_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  &__price {
    font-weight: bold;
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
