.cb-pg-mycabs {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 2.5rem;

  &__cabs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 1rem;
  }
}
