.cb-pg-mycabs {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 2.5rem;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__cabs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 1rem;
    justify-items: center;
  }
}

.cb-l-ride_requests {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 1rem;
  margin: 5rem 0;
  justify-items: center;
}
