@use "abstracts" as *;

.cb-l-user_profile {
  display: grid;
  margin-top: 100px;
  place-items: center;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2rem;
  justify-items: center;
  align-items: start;
  max-width: 80vw;

  @include respond(medium) {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    margin: 0 auto;
    max-width: 90vw;
    margin-top: 8rem;
  }

  &__edit_button {
    border: none;
    outline: none;
    background-color: transparent;
    align-self: flex-end;
    @include respond(medium) {
      align-self: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: end;
    position: sticky;
    margin-top: 2rem;
    gap: 0.3rem;

    @include respond(medium) {
      justify-self: center;
    }
    img {
      border-radius: 1000px;

      width: 200px;
      height: 200px;
      background-color: burlywood;
      object-fit: cover;
    }
  }

  &__sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: start;
  }

  &__section {
    min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 12px;

    &__title {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.5rem 2rem 0rem 2rem;
    }

    &__entry {
      border-bottom: 1px solid #ccc;
      padding: 0.5rem 2rem;
    }

    &__entry:last-child {
      border-bottom: unset;
    }
  }
}
