@use "abstracts" as *;
.cb-pg-register {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 50%;

    @include respond(small) {
      width: 100vw;
    }
  }

  &__choice_col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @include respond(small) {
      flex-direction: column;
    }

    &__choice {
      text-align: center;
      padding: 4rem 1rem;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      min-width: min(80vw, 500px);
      font-size: 1.2rem;

      @include respond(small) {
        padding: 2rem 0.5rem;
        font-size: 1rem;
      }

      &:hover {
        background-color: $secondary-color;
        color: #fff;
      }
    }
  }
}
