* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #868fa0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10vh;
  position: relative;
  overflow-x: scroll;
  border-radius: 10px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Firefox */
  -webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.data-table {
  border-radius: 10px;

  &tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  &tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
}

.tbutton {
  background-color: #2264e5;
  border: none;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  display: flex;
  gap: 6px;
  font-weight: 500;
  &:hover {
    background-color: #1a4bb3;
  }
}

.tsearchbar {
  background-color: white;
  padding: 8px 12px;
  display: flex;
  gap: 0.5rem;
  border-radius: 6px;
  box-shadow: 0px 0px 0px 1px #68718229;
  box-shadow: 0px 1px 2px 0px #0000000f;

  .icon {
    margin: 0;
    padding: 0;
    color: #868fa0;
  }

  input {
    border: none;
    outline: none;
    color: #a1a9b8;
    font-size: 1rem;

    &::placeholder {
      color: #a1a9b8;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .tsearchbar {
    input {
      max-width: 100px;
    }
  }
}

.icon-button {
  background-color: white;
  box-shadow: 0px 0px 0px 1px #68718229;
  box-shadow: 0px 1px 2px 0px #0000000f;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  color: #585e68;
  display: inline-block;
}

.status-chips {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 1px 10px;
  border-radius: 24px;
  background-color: #f1f2f4;
  color: #585e68;
  font-size: 12px;
  width: min-content;
  font-weight: 500;
  min-width: 50px;
}

.status-chips.blue {
  background-color: #2264e5;
  color: white;
}

.status-chips.green {
  background-color: #e1fcef;
  color: #14804a;
}

.status-chips.yellow {
  background-color: #fcf2e6;
  color: #aa5b00;
}

.status-chips.red {
  background-color: #faf0f3;
  color: #d12953;
}

.entry {
  cursor: pointer;
  background-color: white;
}

.entry-body {
  &:hover {
    background-color: #f1f2f4;
  }

  &:nth-child(even) {
    background: #f9fafc;
  }
}

.entry-body.active {
  background: #ebf0fa;
  position: relative;
  td:nth-child(1)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #2264e5ed;
  }
}

.entry-header {
  background-color: #f4f7fcbf;
  text-align: left;
}

.cell {
  vertical-align: top;
  padding: 16px;
  line-height: 20px;

  .cell-title {
    color: #585e68;
  }

  .cell-title.strong {
    color: black;
    font-weight: 600;
    font-size: 14px;
  }

  .cell-title.red {
    color: #d12953;
  }
  .cell-title.green {
    color: #14804a;
  }

  .cell-sub {
    font-size: 12px;
    color: #a1a9b8;
    font-weight: 400;
    text-align: right;
  }

  .cell-body {
    font-size: 14px;
    font-weight: 400;
    color: #464f60;
  }
}

.cell.cell-header {
  color: #585e68;
  .title {
    color: inherit;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
  }

  &:hover {
    color: #2264e5;
  }
}

input[type="checkbox"] {
  border: 1px solid #68718229;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.table-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f7fcbf;
  padding: 18px 16px;
  min-width: max-content;
  position: sticky;
  left: 0;
  right: 0;

  .control-group {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;

  i {
    padding: 6px;
    border-radius: 6px;
    background-color: white;
    color: #585e68;
  }
  .page {
    color: #585e68;
    span {
      color: black;
    }
  }
}

.pagination-control,
.row-details {
  color: #585e68;
  font-size: 12px;
}

.blurred {
  backdrop-filter: blur(8px);
}

.header-controls {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-controls {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
